/* branch protection: unnoticed-delete protection against 7bbfc2f */
.homepage {
    background-color: #FDFDFD;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    bottom: 0; */
}
