/* Apple San Francisco Pro font */
@font-face {
    font-family: sf_pro_display_regular;
    src: url(font/SF-Pro-Display-Regular.otf);
}

@font-face {
    font-family: sf_pro_display_medium;
    src: url(font/SF-Pro-Display-Medium.otf);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
.w3_display_bottommiddle {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%)
}

/* import Slide from '@mui/material/Slide'; */
.w3_slide_bottom {
    position: relative;
    animation: animatebottom 0.5s
}

.w3_slide_bottom_07s {
    position: relative;
    animation: animatebottom 0.7s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

.w3_silver {
    color: Silver;
}
