/* Apple San Francisco Pro font */
@font-face {
    font-family: sf_pro_display_regular;
    src: url(font/SF-Pro-Display-Regular.otf);
}

@font-face {
    font-family: sf_pro_display_medium;
    src: url(font/SF-Pro-Display-Medium.otf);
}

/* W3.CSS 4.15 December 2020 by Jan Egil and Borge Refsnes */
.w3-animate-bottom {
    position: relative;
    animation: animatebottom 0.5s
}

.w3-animate-bottom-1s {
    position: relative;
    animation: animatebottom 1s
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

.w3-silver {
    color: Silver;
}
